<!--
 * @Description: 
 * @Author: Senkita
 * @Date: 2021-05-26 22:22:56
 * @LastEditors: Senkita
 * @LastEditTime: 2021-06-09 16:38:35
-->
<template lang="pug">
a-layout.layout
    t-header
    t-content
    t-footer
</template>

<script setup lang="ts">
import THeader from '@components/THeader.vue';
import TContent from '@components/TContent.vue';
import TFooter from '@components/TFooter.vue';
</script>

<style lang="scss" scoped>
.layout {
    @apply text-base w-screen min-h-screen;
}
</style>
