<!--
 * @Description: 
 * @Author: Senkita
 * @Date: 2021-05-27 15:50:26
 * @LastEditors: Senkita
 * @LastEditTime: 2021-06-10 16:40:33
-->
<template lang="pug">
a-layout-content.layout-content
    a-list.list(
        size='large',
        bordered,
        split,
        item-layout='horizontal',
        :pagination='pagination',
        :data-source='todos'
    )
        template(#renderItem='{ item }')
            a-list-item.item(
                data-test='todo',
                :class='[item.completed ? "completed" : ""]'
            )
                t-input(
                    v-if='item.edit',
                    :id='item.id',
                    :oldVal='item.text',
                    @onInput='triggerOnInput'
                )
                span(v-else) {{ item.text }}

                template(#actions)
                    .time {{ new Date(item.id).toLocaleString() }}
                    a-checkbox(
                        data-test='todo-checkbox',
                        v-model:checked='item.completed',
                        :disabled='item.edit'
                    )

                    a(
                        data-test='editTodo',
                        v-if='item.edit',
                        @click='endEditTodo(store, payload)'
                    ) 完成
                    a(data-test='editTodo', v-else, @click='editTodo(item.id)') 编辑

                    a(data-test='deleteTodo', @click='deleteTodo(item.id)') 删除
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { useStore } from 'vuex';
import TInput from './TInput.vue';
import { endEditTodo } from '../utils';

ref: store = useStore();
ref: todos = computed(() => store.state.todos);
ref: payload = {};

const pagination = {
    onChange: (page: number) => {
        console.log(page);
    },
    pageSize: 10
};

const deleteTodo = (id: number) => store.dispatch('remove', id);

const editTodo = (id: number) => store.dispatch('edit', id);

const triggerOnInput = (pld) => {
    payload = pld;
};
</script>

<style lang="scss" scoped>
.layout-content {
    @apply pl-12 pr-12 mt-24 flex justify-center;
    .list {
        min-width: 66.666667%;
        @apply max-w-full overflow-hidden break-all;
        .item {
            @apply max-h-16 overflow-hidden overflow-scroll;
            .time {
                @apply text-gray-400;
            }
        }
        .completed {
            @apply line-through text-gray-400;
        }
    }
}
</style>