<!--
 * @Description: 
 * @Author: Senkita
 * @Date: 2021-05-27 16:11:35
 * @LastEditors: Senkita
 * @LastEditTime: 2021-05-28 17:09:13
-->
<template lang="pug">
a-layout-footer.layout-footer(data-test='copyright') Copyright © {{ year }} Senkita
</template>

<script setup lang="ts">
ref: year = new Date().getFullYear();
</script>

<style lang="scss" scoped>
.layout-footer {
    @apply text-center;
}
</style>