<!--
 * @Description: 
 * @Author: Senkita
 * @Date: 2021-05-26 22:22:56
 * @LastEditors: Senkita
 * @LastEditTime: 2021-06-09 16:38:06
-->
<template lang="pug">
a-layout-header.layout-header
    a-form(data-test='form', @submit='createTodo')
        a-input-search.new-todo(
            data-test='new-todo',
            placeholder='想要做些什么？',
            enter-button='Go',
            v-model:value='newTodo',
            @search='createTodo'
        )
            template(#addonBefore) 🎉
</template>

<script setup lang="ts">
import { useStore } from 'vuex';

ref: newTodo = '' as string;
ref: store = useStore();

const createTodo = () => {
    store.dispatch('create', newTodo);

    newTodo = '';
};
</script>

<style lang="scss" scoped>
.layout-header {
    @apply fixed w-full z-50 flex justify-center items-center;
    .new-todo {
        @apply w-96;
    }
}
</style>
