<!--
 * @Description: 
 * @Author: Senkita
 * @Date: 2021-06-09 22:35:24
 * @LastEditors: Senkita
 * @LastEditTime: 2021-06-10 00:01:16
-->
<template lang="pug">
a-input(
    v-model:value='newVal',
    allow-clear,
    @pressEnter='endEditTodo(store, { id, newVal })',
    @input='onInput'
)
</template>

<script setup lang="ts">
import { defineProps, defineEmit } from 'vue';
import { useStore } from 'vuex';
import { endEditTodo } from '../utils';

const { id = 0, oldVal = '' } =
    defineProps<{
        id: number;
        oldVal: String;
    }>();

ref: store = useStore();
ref: newVal = '' as string;

if (oldVal !== '') {
    newVal = oldVal;
}

const emit = defineEmit(['onInput']);
const onInput = () => emit('onInput', { id, newVal });
</script>